@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .nav__link {
    @apply relative text-base font-medium w-fit block;
  }

  .nav__link::after {
    content: '';
    position: absolute;
    height: 3px;
    background-color: #1e40af; /* tailwind's blue-900 */
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
    display: block;
  }

  .nav__link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}
